* {
    box-sizing: border-box;
}

.container {
    background-color: rgba(252, 252, 252, 0.65);
    padding-top: 30px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.login-form {
    max-width: 500px;
    margin: 0 auto;
}