* {
    box-sizing: border-box;
}

body {
    background-color: rgba(240, 240, 240, 0.65);
    max-width: 960px;
    margin: 0 auto;
    padding-top: 30px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}