* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 40px;
}

.row {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.MuiTextField-root {
 margin: 0 15px !important;
}